body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3dd58a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

.poster-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poster-section img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.serie-info p {
    font-size: 1.1em;
    line-height: 1.5;
}

.temporadas-section {
    text-align: center;
    margin: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3dd58a;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.capitulos-list, .temporadas-list {
    padding: 20px;
    margin: 20px;
}

.capitulo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.capitulo img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.capitulo-info h3 {
    margin: 0;
    font-size: 1.4em;
}

.rating {
    font-size: 1.2em;
    color: #FFD700; /* Estrellas doradas */
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #ccc;
}
